/* CARD */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card {
	position: relative;
	float: left;
	width: 29%;
	height: 0;
	margin: 2%;
	padding-bottom: 20%;
}

.card__container {
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	/* prevents flicker */
	-webkit-overflow-scrolling: touch;
}

.card__container--closed {
	position: absolute;
	overflow: hidden;
}

.card__container--closed .card__image {
	cursor: pointer;
}

.card__image {
	position: relative;
	left: 50%;
	display: block;
	height: 100%;
	max-height: 500px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.card__content {
	width: 100%;
	height: auto;
	padding: 5vw 1.5ch 10vh;
	/* background: rgb(255,248,244);
	background: linear-gradient(180deg, rgba(255,248,243,1) 16%, rgba(237,221,201,1) 81%); */
	background: rgb(255,248,243);
	background: linear-gradient(90deg, rgba(255,248,243,1) 16%, rgba(251,242,234,1) 78%); 
}

.card__container--closed .card__content {
	margin-top: 0;
	padding: 0;
	pointer-events: none;
	background: transparent;
}

.card__wrapper {
	font-family: 'Roboto', sans-serif;
	font-size: calc(15px + 0.390625vw);
	position: relative;
	margin: 0 auto;
	max-width: 58ch;
}

.card__caption {
	position: relative;
	margin: 0 auto;
}

.card__container--closed .card__caption {
	max-width: none;
	padding: 1ch 2ch;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.card__title {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1;
	margin-top: 0.313rem;
	margin: 0 0;
	color: var(--title-color);
}

.card__container--closed .card__title {
	font-size: 1em;
	color: #fff;
	-webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #fff
}

.card__subtitle {
	font-size: 1.1785em;
	font-weight: lighter;
	line-height: 1;
	margin-top: 0.313rem;
	color: var(--subtitle-color);
}

.card__container--closed .card__subtitle {
	font-size: .92em;
	color: #f8f8f8;
	-webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #fff;
}

.card__copy {
	padding: 0;
	color: var(--text-color);
}

.card__btn-close {
	font-size: 1.35em;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.card__container--closed .card__btn-close {
	display: none;
}

.meta {
	font-size: .85em;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
}

.card__container--closed .meta {
	visibility: hidden;
}

.meta__wrapinfo {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 0.6em;
	align-items: center;
}

.meta__avatar {
	border-radius: 50%;
}

.meta__author
.meta__readtime {
	font-weight: bold;
}

/* Styling the articles */
.card__container--closed article{
	visibility: hidden;
}

.card__copy article p {
	text-align: justify;
	text-justify: inter-word;
}

.interview__question {
	font-weight: bold;
}

.float_image__left,
.float_image__rirght {
	display: block;
	line-height: 0;
	margin: 0px;
	
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;

	max-width: 100%;
	height: auto;
}

.capitalize {
	text-transform: capitalize;
}

@media only screen and (max-width: 980px) {
	.card {
		width: 46%;
		padding-bottom: 32.2%;
	}
	.card__image {
		max-height: 360px;
	}
	.card__content {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 96%;
		padding-bottom: 67.2%;
	}

	.card__caption {
		font-size: 115%;
	}
}

@media only screen and (max-width: 400px) {
	.card__caption {
		font-size: 0.938em;
	}
	/* .meta {
		padding: 0 0 25px 0;
	} */
	.card__copy {
		font-size: 90%;
	}
}

/* Filter */
.filter--hidden {opacity: 0.1}
.filter--hidden .card__container--closed {cursor: default}

/* .card {
	transition: opacity;
	transition-duration: 875ms;
} */
