@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    /* Main html */
    --bg-color: #2b1200;
    --fg-color: #d38d5f;
    
    /* Filter */
    --filter-color-default: #5c2b06;
    --filter-color-checked: #764309;
    
    /* Articles */
    --font-article: 'Roboto', sans-serif;
    --text-color: rgb(43, 17, 2);
    --background-color: linear-gradient(180deg, #fff8f3, #bb843b);;
    --title-color: #3b393d;
    --subtitle-color: #777778;

    /* Misc */
    --cards-layout-maxwidth: calc(1366px - 100px);
    --title-color-closed: #fff;
    --subtitle-color-closed: #f5f5f5;

    /* Dont touch this yet */
    --navline-color: #5c2b06;
    --navline-height: 4px;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	min-height: 100%;
	background: rgb(255,248,243);
	background: linear-gradient(180deg, rgba(255,248,243,1) 16%, rgba(237,221,201,1) 81%);
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: var(--fg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

main {margin: 2vh auto 1vh}

/* Header */
header {
    text-align: center;
    margin: 1vh auto;
}
/* Reduce CLS (i.e. commutative layout shift */
header img {
	text-align: center;
	height: 206px;
	width: 638px;
	padding: 1em;
	padding-bottom: 0;
}
@media screen and (max-width: 50em) {
    header img {
        /* margin: 0 auto; */
        width: 100%;
        height: 100%;
    }
        
}

/* Hide radio buttons */
input[type="radio"] {
	display: none;
	position: absolute;
	left: -9999px;
}

.navigation {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 0 2rem;
}

.navigation__list {
	list-style: none;
	max-width: var(--cards-layout-maxwidth);
	margin: 0 auto;
	padding: 0;
	position: relative;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 16px;

	float: none;
	clear: both;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.navigation__item {
	margin: 0.5rem 0.7rem;
	font-size: 1.3875em;
}
.navigation__item label {
	text-transform: uppercase;
	cursor: pointer;
	color: var(--filter-color-default);
	text-decoration: none;
}

.navigation input[name="rovatok"]:checked + label {
	color: var(--filter-color-checked);
}

.navigation__line {
	height: var(--navline-height);
	position: absolute;
	bottom: 0;
	margin: 10px 0 0 0;
	background: var(--navline-color);
	transition: all 1s;
}

/* Toggle expanding underline to teleporting */
@media screen and (max-width: 1260px) {
	.navigation__item {
		font-size: 1.6rem;
	}
	
	.navigation__line {
		display: none;
	}

	.bubble {
		position: relative;
		text-decoration: none;
	}
	
	.bubble::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: var(--navline-height);
		bottom: -10px;
		left: 0;
		background-color: var(--navline-color);
		transform: scaleX(0);
		transition: transform 0.3s ease, opacity 200ms ease;
	}
	
	.bubble:hover::before {
		/* transform: scaleX(1); */
		opacity: 0.8;
	}

	.navigation .active label::before {
		transform: scaleX(1)
	}


}

@media screen and (max-width: 806px) {
	.navigation__item {
		font-size: 1vw;
		font-size: 1.19em;
	}
}
@media screen and (max-width: 660px) {
	.navigation__item {
		margin: auto .675rem;
	}
}
@media screen and (max-width: 590px) {
	.navigation__item label {font-size: 1rem;}
}
@media screen and (max-width: 580px) {

	.filter--hidden {
		display: none;
	}
	.navigation__item {
		margin: 0 0.5rem !important;
	}
	.navigation__item label {
		font-size: 0.95rem;
	}

	.navigation__list {row-gap: 0}

	.bubble::before {bottom: -5px}

	:root {--navline-height: 3px}
}
@media screen and (max-width: 375px) {
	.navigation__item label {
		font-size: .875rem;
	}
}
@media screen and (max-width: 330px) {
	.navigation__item label {
		font-size: .75rem;
	}
}
/* Container/Wrapper for closer card thumbnails */
.wrapper {
	overflow: auto;
	/* width: 95%; */
	max-width: var(--cards-layout-maxwidth);
	/* padding: 0 2rem; */
	margin: 0 auto;
}

/* .filter--hidden {
	opacity: 0.1;
} */